<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Code Info Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>

<div class="container mt-5">
    <h2>Load</h2>
    <form id="urlForm">
        <div class="form-group">
            <label for="urlInput">Enter URL:</label>
            <input type="url" class="form-control" id="urlInput" name="url" placeholder="Enter URL">
        </div>

        <div class="form-group">
            <label for="languageSelect">Select Language:</label>
            <select class="form-control" id="languageSelect" name="language">
                <option value="java">Java</option>
                <option value="python">Python</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary" onclick="loadUrl()">Load</button>
    </form>
</div>

<div class="container mt-5" id="responseBubble"></div>


<div class="container mt-5">
    <h2>Chat</h2>
    <form id="urlForm">
        <div class="form-group">
            <label for="queryInput">Enter Chat:</label>
            <input type="text" class="form-control" id="query" name="query" placeholder="eg: What are the conversion available in your query">
        </div>

        <button type="button" class="btn btn-primary" onclick="getResponse()">Chat</button>
    </form>
</div>

<div class="container mt-5" id="response"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../static/js/clientSide.js"></script>

</body>
</html>
